<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lianxi.eurekaclient1.mapper.CommodityMapper">

    <select id="findAll" resultType="com.lianxi.eurekaclient1.entity.Commodity">
        SELECT * FROM COMMODITY_LIST
    </select>

</mapper>