<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lianxi.eurekaclient1.mapper.UserMapper">

    <select id="findAll" resultType="com.lianxi.eurekaclient1.entity.User">
        SELECT * FROM tb_user
    </select>

    <insert id="editOrAdd" parameterType="com.lianxi.eurekaclient1.entity.User">

      INSERT INTO tb_user (id,username,password)VALUES(#{id},#{username},#{password})

    </insert>
</mapper>